@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", sans-serif !important;
}

html {
  font-size: 62.5%;
}

:root {
  --white-color: #fdfdfd;
  --green-color: #1a3e3e;
  --orange-color: #f2be22;
  --black-color: #18121e;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0px auto;
  padding-inline: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn {
  background-color: var(--green-color);
  border: none;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--white-color);
}

/* ================================= HERO ================================= */

.hero {
  width: 100%;
  min-height: 985px;
  background: url("../images/hero-img.png") no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 137px;
  height: 72px;
  display: inline-block;
}

.header-nav {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header-link {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--white-color);
  text-decoration: none;
}

.header-link:hover {
  color: var(--orange-color);
}

.header-list button {
  display: none;
}

.header-nav button {
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
}

header > button {
  background-color: transparent;
  border: none;
  display: none;
}

header button i {
  font-size: 3rem;
  color: var(--white-color);
}

.hero-content {
  min-height: calc(985px - 72px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20rem;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 795px;
  margin-bottom: 4.1rem;
}

.hero-form {
  width: 100%;
  padding: 4rem 4.3rem;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.hero-form-item select,
.hero-form-item input {
  width: 270px;
  height: 52px;
  padding: 1.4rem 1.6rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--white-color);
  outline: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--white-color);
}

.hero-form-item p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--white-color);
  margin-top: 0.8rem;
}

.hero-form button {
  border-radius: 0.4rem;
  padding: 1.6rem 3.6rem;
  color: var(--green-color);
  background-color: var(--white-color);
  transform: translateY(-15px);
}

/* ================================= RESPONSIVE ================================= */

@media (max-width: 992px) {
  .header-nav button {
    display: none;
  }

  .header-list {
    position: fixed;
    inset: 0;
    background-color: var(--green-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0 0 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  .header-list.active {
    transform: translateX(0);
  }

  .header-list button {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  header > button {
    display: block;
  }
}
