@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", sans-serif !important;
}

html {
  font-size: 62.5%;
}

:root {
  --white-color: #fdfdfd;
  --green-color: #1a3e3e;
  --orange-color: #f2be22;
  --black-color: #18121e;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0px auto;
  padding-inline: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn {
  background-color: var(--green-color);
  border: none;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--white-color);
}

.section-subtitle {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 83%;
  color: var(--orange-color);
}

.section-title {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 120%;
  color: var(--black-color);
}

/* ================================= HERO ================================= */

.hero {
  width: 100%;
  min-height: 985px;
  background: url("../images/hero-img.png") no-repeat;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 137px;
  height: 72px;
  display: inline-block;
}

.header-nav {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header-link {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--white-color);
  text-decoration: none;
}

.header-link:hover {
  color: var(--orange-color);
}

.header-list button {
  display: none;
}

.header-nav button {
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
}

header > button {
  background-color: transparent;
  border: none;
  display: none;
}

header button i {
  font-size: 3rem;
  color: var(--white-color);
}

.hero-content {
  min-height: calc(985px - 72px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20rem;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 795px;
  width: 100%;
  margin-bottom: 4.1rem;
}

.hero-form {
  display: flex;
  width: 100%;
  padding: 4rem 4.3rem;
  background: rgba(255, 255, 255, 0.3);
  gap: 1rem;
  border-radius: 1rem;
  flex-wrap: wrap;
}

.hero-form-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero-form-item select,
.hero-form-item input {
  width: 270px;
  height: 52px;
  padding: 1.4rem 1.6rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--white-color);
  outline: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--white-color);
}

.hero-form-item p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--white-color);
  margin-top: 0.8rem;
}

.hero-form button,
.hero-content > button {
  border-radius: 0.4rem;
  width: 213px;
  height: 52px;
  color: var(--green-color);
  background-color: var(--white-color);
}

.hero-content > button {
  display: none;
}

/* ================================= ABOUT ================================= */

.about {
  margin-block: 5rem;
}

.about.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  min-height: 530px;
}

.about-img img {
  position: absolute;
}

.about-img img:nth-child(1) {
  top: 0;
  left: 0;
}

.about-img img:nth-child(2) {
  top: 13rem;
  left: 13rem;
}

.about-info .section-subtitle {
  margin-bottom: 0.8rem;
}

.about-info .section-title {
  margin-bottom: 4rem;
}

.about-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black-color);
  margin-bottom: 4rem;
}

.about-info .btn {
  padding: 1.6rem 3.6rem;
  border-radius: 0.4rem;
}

/* ================================= OFFERS ================================= */

.offers {
  padding-block: 5rem;
  background: #f3f5f4;
}

.offers .container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.offers .section-subtitle {
  margin-bottom: 0.8rem;
}

.offers .section-title {
  margin-bottom: 4rem;
}

.offers-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black-color);
  margin-bottom: 4rem;
}

.offers-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.offers-item-img {
  width: 100px;
  height: 50px;
}

.offers-item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offers-item-content h5 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 111%;
  letter-spacing: 0.01em;
  color: var(--black-color);
  margin-bottom: 0.4rem;
}

.offers-item-content p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 143%;
  color: #000;
}

.offers-info .btn {
  padding: 1.6rem 3.6rem;
  border-radius: 4px;
}

.offers-img {
  width: 510px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* ================================= FAVORITES ================================= */

.favorites {
  padding: 6rem 0 8rem;
}

.favorites-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.favorites-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.favorites-item {
  position: relative;
  height: 500px;
  /* overflow: hidden; */
}

.favorites-item-rate {
  position: absolute;
  top: 5rem;
  right: 0;
  backdrop-filter: blur(4px);
  background: rgba(253, 253, 253, 0.4);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem 0 0 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.favorites-item-rate i {
  font-size: 2.4rem;
  color: var(--orange-color);
}

.favorites-item-rate span {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 129%;
  color: var(--green-color);
}

.favorites-content {
  bottom: 0;
  width: 100%;
  height: 90px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: absolute;
  padding: 2rem 3.2rem 2.5rem 3.2rem;
  background: rgba(255, 255, 255, 0.2);
}

.favorites-content h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 120%;
  color: var(--white-color);
}

.favorites-content p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  color: var(--white-color);
}

.favorites-content button {
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: var(--white-color);
  display: block;
  white-space: nowrap;
  padding: 0.8rem 1.6rem !important;
}

.favorites .container > button {
  display: block;
  padding: 1.6rem 3.6rem;
  margin: 5rem auto 0;
  border-radius: 0.4rem;
}

/* ================================= RESPONSIVE ================================= */
@media (max-width: 992px) {
  /* ================================= NAVBAR ================================= */

  .header-nav button {
    display: none;
  }

  .header-list {
    position: fixed;
    inset: 0;
    background-color: var(--green-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0 0 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  .header-list.active {
    transform: translateX(0);
  }

  .header-list button {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  header > button {
    display: block;
  }

  /* ================================= HERO CONTENT ================================= */

  .hero-content {
    font-size: 3rem;
    word-wrap: break-word;
  }

  .hero-form {
    display: none;
  }

  .hero-content > button {
    display: block;
  }

  /* ================================= ABOUT ================================= */

  .about.container {
    grid-template-columns: 1fr;
  }

  .about-img {
    order: 2;
  }

  .about-img img:nth-child(1) {
    display: none;
  }

  .about-img img:nth-child(2) {
    position: static;
  }

  .about-info {
    margin-bottom: 5rem;
    order: 1;
  }

  /* ================================= OFFERS ================================= */

  .offers .container {
    grid-template-columns: 1fr;
  }

  .offers-img {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 4rem;
  }
}

@media (max-width: 576px) {
  .offers-img {
    display: none;
  }
}
